@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Crimson Text', serif;
  font-size: 16pt;
  background-color: #212121;
  color: #FAFAFA;
}

img.tools {
  height: 50px;
  width: 50px;
}

a {
  color: #FAFAFA;
}

.description {
  margin-top: 2rem;
}

a.current {
  background-color: #424242;
  border-radius: 2rem;
}

ul.nav li a {
  padding: 0.5rem 1rem;
  font-weight: 600;
}

@media screen and (max-width: 375px) {
  ul.nav li a {
    margin: 0;
  }
}

.nav-item {
  padding: 0 1rem;
}

.container {
  min-width: 100%;
  min-height: 95vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  padding: 0 1.5rem;
  align-items: center;
}

p {
  text-align: justify;
  margin-top: 0;
}

.footer {
  text-align: center;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav li a {
  margin: 1rem;
}

.profile-image {
  margin-top: 2.5rem;
  width: 10rem;
  height: auto;
  border-radius: 10rem;
}

.name {
  margin-bottom: 0.5rem;
}

.job-title {
  color: #BDBDBD;
}
